*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.header {
    width: 100%;
    height: 100vh;
    background: skyblue;
    color: #fff;
    position: relative;
    overflow: hidden;

}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*left and right size maintain*/
    background-color: rgb(128, 206, 128);

}
@media(max-width: 700px){
    .container{
        width: 400px;
    height: 180px;

    }
}
.clock{
    width: 100%;
    height: 100%;
    background: rgb(rgba(207, 151, 54, 0.795), rgb(71, 158, 164), rgb(139, 51, 222));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
}
.container h1{
    font-size: 40px;
    backdrop-filter: blur(100px);
    transition: 0.2s;
}
.container h1:hover{
    letter-spacing: 0.20em;
}


.container::before{    /*pehele*/
    content: '';
    width: 180px;
    height: 180px;
    background: #33ab91c1;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{   /* baad me*/
    content: '';
    width: 180px;
    height: 180px;
    background: rgba(210, 60, 46, 0.716);
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: -90px;
    z-index: -1;
}

.clock span{
    font-size: 80px;
    padding: 10px;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    

}

#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINUTES';
}
#sec::after{
    content: 'SECONDS';
}

.clock span:hover{
    
    letter-spacing: 0.20em;
   
    
}
@media(max-width:700px){
    .clock span{
        font-size: 50px;
        
    }
    .container h1{
        font-size: 40px;
        position: relative;
        left: 20%;
        
    }
    .container::before{    /*pehele*/
        content: '';
        width: 300px;
        height: 400px;
        position: absolute;
        left: -10px;
        top: -50px;
        
    }
    .clock span::after{
        font-size: 20px;
        position: absolute;
        bottom: -10px;
        width: 100;

    
    }
    .clock span:hover{
    
        letter-spacing: 0.10em; 
    }
    .container::after{   /* baad me*/
        content: '';
        width: 180px;
        height: 180px;
        background: rgba(210, 60, 46, 0.716);
        border-radius: 25%;
        position: absolute;
        right: -40px;
        bottom: -120px;
        
    }
}

